h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid blue;
    padding: 10px 20px 10px;
    background-color: antiquewhite;
    text-align: center;
}
img{
    height: 300px;
    width:500px;
}